<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <style>
        .ng-cloak {
            display: none;
        }

        .todo-completed {
            text-decoration: line-through !important;
        }
    </style>
</head>

<body ng-app="my-app">
    <div ng-controller="appCtrl" class="container">

        <!--  https://getbootstrap.com/docs/4.1/components/navbar/#nav -->

        <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-2">
            <a class="navbar-brand" href="#">Navbar</a>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item" ng-repeat="page in pages">
                        <a class="nav-link" href="#" 
                            ng-class="{
                                'active': currentPage == page.path
                            }" 
                            ng-click="navigateTo(page)">
                            {{page.name}}
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div ng-include=" currentPage  "></div>

    </div>

    <script src="node_modules/angular/angular.js"></script>
    <script src="src/app.module.js"></script>
    <script src="src/app.ctrl.js"></script>
    <script src="src/todos/todos.module.js"></script>
    <script src="src/todos/todos.ctrl.js"></script>
    <script src="src/todos/todos-list.ctrl.js"></script>
    <script src="src/todos/todos.service.js"></script>
    <script src="src/directives/directives.module.js"></script>
    <script src="src/directives/directives.ctrl.js"></script>
    <script src="src/directives/mapka-box.directive.js"></script>
    <script src="src/users/users.module.js"></script>
    <script src="src/users/users.ctrl.js"></script>
    <script src="src/users/users.directives.js"></script>
    <script src="src/users/users.service.js"></script>


</body>

</html>