<div ng-if="mode != 'edit' ">

    <user-card user="user">

        <div class="btn-group float-right">
            <input type="button" value="Edit" class="btn" ng-click=" edit() ">
        </div>

    </user-card>

</div>

<div ng-if="mode == 'edit' ">

    <user-form user="draft" save="saveUser(user)">

        <input type="button" 
                class="btn btn-danger" 
                value="Cancel" 
                ng-click=" show() ">


    </user-form>


</div>