<div class="card">
    <div class="card-body">
        <dl>
            <dt>Name:</dt>
            <dd>{{user.name}}</dd>
        </dl>
        <dl>
            <dt>Email:</dt>
            <dd>{{user.email}}</dd>
        </dl>

        <ng-transclude></ng-transclude>
    </div>
</div>