<!-- 
    form>.form-group*2>label{Name}+input.form-control 
-->

<h3>Edit User</h3>

<form>
    <div class="form-group">
        <label>Name</label>
        <input ng-model="user.name" type="text" class="form-control">
    
    </div>
    <div class="form-group">
        <label>E-Mail</label>
        <input ng-model="user.email" type="email" class="form-control">
    
    </div>

    <input type="button" 
        class="btn btn-success"
        value="Save" 
        ng-click=" save({
            user:user
        })">

<!-- <user-form save="jakasFn(user)" -->

    <ng-transclude></ng-transclude>
</form>