<div ng-controller="usersCtrl">

    <h3>Users</h3>

    <div class="row">
        <div class="col">
            <users-list 
            users="users" 
            selected="selected"
            on-select="selectUser(user)">

            </users-list>

        </div>
        <div class="col">
            <user-details user="selected">

            </user-details>
        </div>
    </div>

</div>