
<!-- .list-group>.list-group-item -->

<div class="list-group">
    <div class="list-group-item"
        ng-class="{
            active: selected == user  
        }"
        ng-click="onSelect({
            user: user
        })"
        ng-repeat="user in users">
        {{user.name}}
    </div>
</div>