<div ng-controller="directivesCtrl as directives">
    <h3>
        Hello Directives Page!
    </h3>
    <div class="row">
        <div class="col">

            <div style="display:flex; flex-direction: column;">
                <input type="range" step="0.02" ng-model="directives.lat">
                <input type="range" step="0.02" ng-model="directives.lng">
                <input type="range" step="1" ng-model="directives.zoom">
            </div>
        </div>
        <div class="col">

            <input type="text" ng-model="selection">

            <mapka-box 
                on-select=" selection = position "
                lat="directives.lat" 
                lng="directives.lng" 
                zoom="directives.zoom">
            </mapka-box>
        </div>
    </div>


    <!-- 
    <img mapka-box lat="directives.lat" lng="directives.lng"> -->

    <!--  <img src="https://maps.googleapis.com/maps/api/staticmap?center=52.17,20.99&size=300x300&zoom=15&key=AIzaSyAnKFH-tmY9wGKt8hjK0X3lWK0cKGigr7s"> -->

</div>