<div class="row" ng-controller="todosCtrl">
    <div class="col" ng-controller="TodosListCtrl as todosList">

        <p class="alert alert-info" ng-hide="todos.length">
            Nothing to show.. Let`s add some todos!
        </p>

        <ul class="list-group" ng-if="todosList.todos.length">

            <li ng-repeat="todo in todosList.todos" class="list-group-item" ng-class="{
                            'todo-completed': todo.completed
                        }">
                <input type="checkbox" ng-model="todo.completed">
                <span>{{ $index + 1 }}. </span>
                <span>{{ todo.title }} </span>
                <span class="close" ng-click="todosList.removeTodo(todo)">
                    &times;
                </span>
            </li>
        </ul>
        <p>Completed count: {{ todosList.getCompletedCount() }}</p>
        <p>Archived count: {{ archived.length }}</p>
        <div class="input-group">
            <input type="text" class="form-control" autofocus="true" ng-keyup="todosList.enterTodo($event)" ng-model="todosList.todo.title">

            <button ng-click="todosList.addTodo(todosList.todo)" class="btn btn-success">Add</button>

            <button class="btn btn-danger" ng-click="archiveCompleted()">Archive Completed</button>
        </div>


    </div>
    <div class="col" ng-controller="TodosListCtrl as archivedList">
        <ul class="list-group" ng-if="archivedList.todos.length">

            <li ng-repeat="todo in todosList.todos" class="list-group-item" ng-class="{
                            'todo-completed': todo.completed
                        }">
                <input type="checkbox" ng-model="todo.completed">
                <span>{{ $index + 1 }}. </span>
                <span>{{ todo.title }} </span>
                <span class="close" ng-click="todosList.removeTodo(todo)">
                    &times;
                </span>
            </li>
        </ul>
    </div>
</div>